
@use '../../partials/variables' as * ;
@use '../../partials/colors' as * ;
@use '../../partials/breakpoints' as * ;
@use '../../partials/typography' as * ;
@use '../../partials/mixins' as * ;

.profile{
    background-color: $white;
    @include h2-subheader;
    align-content: center;
    margin-left: 40%;
    padding-top: 2%;
    color: $white;
}