
@use '../../partials/variables' as *;
@use '../../partials/breakpoints' as*;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.footer{
    width: 100%;
    height: 10vw;
    margin-top: 5vw;
    padding-left: 10%;
    padding-top: 2%;
    color: $black;
    background: $cloud;
}