
@use '../../partials/variables' as *;
@use '../../partials/breakpoints' as*;
@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.header{
    width: 100%;
    @include h2-subheader;
    height: 2vw;
    padding-left: 10%;
    padding-top: $increment5-px;
    background: $slate;
}