$primary-background: #E5E5E5;
$primary-div-background-ltblue: #F4F8FF;
$primary-div-background-white: #FFFFFF;

$secondary-color-indigo: #3375E0;
$secondary-color-grey: #E5E5E5;


$text-black: #121212;
$text-grey: #525252;
$text-ltblue: #3A88F0;

